.filterBtn {
  background-color: rgb(203, 125, 47);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.filterBtn:hover {
  background-color: rgb(215, 138, 61);
}

