.contentSection {
    flex-basis: 85%;
    background-color: peachpuff;
  }
.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
  @media (max-width: 1170px) {
    .contentSection {
      padding-bottom: 50px;
    }
   }