footer {
    text-align: center;
    background-color: #ffffff;
    padding: 0.3rem;
    font-size: 0.8rem;
    font-weight: 600;
  }

  @media (max-width: 1170px) {
   footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
  }